PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/lunele?retryWrites=true&w=majority
JWT_SECRET=tu_secreto_super_seguro_para_jwt
JWT_EXPIRE=30d

# Configuración Google Drive API
# Debes convertir tu archivo JSON de credenciales de la cuenta de servicio a un string de una línea y pegarlo aquí
GOOGLE_SERVICE_ACCOUNT_JSON={"type": "service_account", "project_id": "...", "private_key_id": "...", "private_key": "...", "client_email": "...", "client_id": "..."}
GOOGLE_DRIVE_FOLDER_ID=el_id_de_tu_carpeta_en_drive
